@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');

body {
    background-color: #1B2430;
    font-family: 'Poppins', sans-serif;
    margin: 0;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: #51557E;
    text-decoration-line: none;
}

.reminder {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.reminder .primary {
    font-size: 48px;
    color: #D6D5A8;
}

.reminder .secondary {
    font-size: 24px;
    color: #555555;
    font-style: italic;
}

.footer {
    position: fixed;
    margin-bottom: -90vh;

    color: #555555;
}